<app-header [inputDataToChild] = "inputValueForChild" (outputDataForParent)="getdata($event)" (booleanInstance)="getBooleanValues($event)"></app-header>
{{title}}

<!-- boolean result from child component -->
 {{result}}
<!-- toggle class -->
<div class="floating-popup" [ngClass]="toggleClass()">
  <!-- on the basis of boolean result from child component adding classes-->
  <p [ngClass]="result ? 'one' : 'two'">Next Day Delivery is available for all orders placed before 4 pm</p>
  <a href="javascript:void(0);" class="close-popup" title="Close" (click)="active = !active">X</a>
</div>
 <!-- toggle class -->
<hr>

<!-- Sending data from Header Component(child) to App Component(parent)  -->
 {{str}}

<router-outlet></router-outlet>
<app-footer></app-footer>